<h1>JokeShare</h1>
<p> <%= link_to 'Sign Up', new_user_registration_path%>  </p>
<p> <%= link_to 'Log In', new_user_session_path%>  </p>
<p> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </p>
<p> <%= link_to('Create New Joke', new_joke_path) %>  </p>
<p> <%= link_to('OS Jokes', os_path) %>  </p>
<!-- <p> <%= link_to('Networking Jokes', new_joke_path) %>  </p>
<p> <%= link_to('General CS Jokes', new_joke_path) %>  </p> -->

