

<html>

  <head>

    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
<li> <%= link_to 'Sign Up', new_user_registration_path%>  </li>
<li><%= link_to 'Log In', new_user_session_path%>  </li>
<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </li>
        </ul>
        <ul class="pull-right">


<li>  <%= link_to('Create New Joke', new_joke_path) %>  </li>
<li>  <%= link_to('Create New Course', new_course_path) %>  </li>

        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>JokeShare</h1>
        <p>Share topic specific jokes with other CS majors</p>
      </div>
    </div>
    
    <div class="neighborhood-guides">
         <% @courses.each do |course| %>
         <div class="container">
            <h2>Joke Categories</h2>
            <div class="row">
                <div style="text-align:center" class="col-md-4">
                	<h3><%= link_to(course.subject, course_jokes_path(course_param: course.id)) %></h3>
                    <div class="thumbnail">
                      <img src= <%=course.image%> >
                    </div>
                </div>
               
            </div>
         </div>
         <%end%>
    </div>

  </body>
</html>