<h1> <%= @course.subject %> Jokes  </h1>

<h3><%=link_to "return home", root_path%></h3>
<%= @jokes.each do |joke|  %>

	
  <div class="jumbotron">
      <div class="container">
		<h3> <%= joke.content %></h3>
  		<%= commontator_thread(joke) %>
  	  	<%=link_to "upvote",{:controller => "jokes", :action => "upvote", :id => joke.id }, method: :put %>
 		 <%= joke.score %>
      </div>
    </div>

<% end %>