<div class="newcourse">
<%= flash[:error] %>
<%= simple_form_for @course do |f| %>
  <%= f.input :subject, label: 'Subject of Class Ex. Networking, Operating Systems', :input_html => {:maxlength => 200, :size => 100} %>
  <%= f.input :image, label: 'Paste an html link of an image for the class', :input_html => {:maxlength => 300, :size => 100} %>
  <%= f.button :submit %>
<% end %>
</div>